body {
    display: flex;
    flex-direction: column;
}

.home-main-header {
    position: relative;
    width: 100%;
    height: 60vh;
    overflow: hidden;
}

.img-header {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}