.body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

.web-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit-container {
    max-width: 70vw;
    margin: auto;
    padding: 4vh;
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    box-shadow: 0 0 1vh rgba(0, 0, 0, 0.1);
    border-radius: 3vh;
    margin: 5vh;
    border: 0.5vh solid #1E1E1E;
}

.submit-container h1 {
    font-size: 4vh;
    margin-bottom: 1vh;
}

.submit-container p {
    font-size: 2vh;
    margin-bottom: 4vh;
    color: #666;
}

.submit-form label {
    font-weight: 600;
    font-size: 2vh;
    display: block;
    margin-top: 2vh;
    margin-bottom: 1vh;
}

.submit-form input[type="text"],
.submit-form input[type="file"],
.submit-form select,
.submit-form textarea {
    width: 100%;
    padding: 1.5vh;
    font-size: 1.8vh;
    border-radius: 0.8vh;
    border: 1px solid #ccc;
    margin-bottom: 2vh;
    resize: vertical;
}

.submit-form button {
    background-color: #859F3D;
    color: white;
    font-size: 2vh;
    padding: 1.5vh 3vh;
    border: none;
    border-radius: 1vh;
    cursor: pointer;
}

.submit-form button:hover {
    background-color: #6d8630;
}